@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

*{
  box-sizing:border-box;
}

body{
  margin:0;
  padding:0;
  background-color:black;
  font-family:'Share tech Mono', Arial, sans-serif;
  color:white;
}

h1{
  font-size:60px;
  margin-top:10px;
  margin-bottom:10px;
}

h3{
  font-size:36px;
  margin-top:0;
}

.container {
  margin:0 auto;
  width:1020px;
  overflow:hidden;
  text-align:center;
  padding:10px;
}

h3.p1, h3.p2 {
  transition:all .5s ease;
  margin-bottom:30px;
}

.p1 {
  float:left;
  margin-left:40px;
}

.p2 {
  float:right;
  margin-right:40px;
}

#gameCanvas {
  width:1000px;
  height:600px;
  border:thin solid black;
  background-color:white;
}

a {
  display:block;
}
